{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Marketplace</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <!-- <script src="{% static 'js/scripts.js' %}"></script> -->

</head>

<body>
    <header class="header">
        <div class="container">
            <div class="logo">
                <img src="{% static 'img/logo.png' %}" alt="Swivly Logo">
                <!-- <h1>Swivly</h1> -->
            </div>
            <nav class="nav">
                <a href="{% url 'registration:index' %}">Home</a>
                <a href="#">Market Place</a>
                <a href="#">Accommodation</a>
                <a href="#">Contact Us</a>
                <div class="auth">
                    <div class="signup-dropdown">
                        <button class="btn cart" id="signup-btn">Sign Up <span class="arrow">▼</span></button>
                        <div class="dropdown-menu">
                            <a href="/signup-agent" class="dropdown-item">Agent</a>
                            <a href="/signup-buyer" class="dropdown-item">Buyer</a>
                            <a href="/signup-seller" class="dropdown-item">Seller</a>
                        </div>
                    </div>
                    <button class="btn login">Log In</button>

                    <!-- <button class="btn cart"><img src="{% static 'img/cart.png' %}" alt="cart"> Cart</button> -->
                </div>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}


        {% endblock %}
    </main>

    <script>
        const signupButton = document.getElementById('signup-btn');
        const dropdown = document.querySelector('.signup-dropdown');

        signupButton.addEventListener('click', (e) => {
            e.stopPropagation();
            dropdown.classList.toggle('active');
        });

        document.addEventListener('click', () => {
            dropdown.classList.remove('active');
        });
    </script>
</body>

</html>