{% extends 'registration/base.html' %}
{% load static %}

{% block content %}
<div class="edit-profile-container">
    <div class="profile-header">
        <h1>Edit Profile</h1>
    </div>
    <div class="profile-image-section">
        <div class="edit-profile-image">
            {% if user.profile.photo %}
            <img src="{{ user.profile.photo.url }}" alt="Profile Image">
            {% else %}
            <img src="{% static 'img/man.png' %}" alt="Default Profile Image">
            {% endif %}
            <div class="upload-icon">
                <input type="file" accept="image/*" />
            </div>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data" class="edit-profile-form">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <button type="submit" class="save-changes-btn">Save changes</button>
    </form>
</div>
{% endblock %}